<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583361140498-f3h7g3e66ei79fj9urnuvecmrg2mumm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583361140498-f3h7g3e66ei79fj9urnuvecmrg2mumm6</string>
	<key>API_KEY</key>
	<string>AIzaSyB1k-QiEUE7MNe5MUH-dBtBYepgdVezxi8</string>
	<key>GCM_SENDER_ID</key>
	<string>583361140498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>gsg2-1d9bf</string>
	<key>STORAGE_BUCKET</key>
	<string>gsg2-1d9bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583361140498:ios:68557a0fc5220c979005cb</string>
</dict>
</plist>